## ignore files
**/.DS_Store
**/.idea
**/.vsconfig

## ignore folders
**/.vscode/
**/.vs/
**/.vsconfig/

## ignore

*.pem
*.p12

**/Docs/IMP/
**/Docs/REF/

**/Klotho/Docs/
**/Klotho/**/Replays/
**/Klotho/**/*.g.cs
**/Klotho/*.csproj
**/Klotho/*.sln
**/Klotho/*.slnx

**/P2pSample/*.csproj
**/P2pSample/*.sln
**/P2pSample/*.slnx

**/SdSample/*.csproj
**/SdSample/*.sln
**/SdSample/*.slnx

Samples/P2pSample/Packages/packages-lock.json
Samples/SdSample/Packages/packages-lock.json

**/Tools/Generated

/**/[Aa]ssets/[Pp]ackages/
/**/Library/
/**/Logs/
/**/Temp/
/**/UserSettings/

**/obj/
**/bin/
**/Binaries/
**/Intermediate/
**/IncrementalBuildPipeline/
**/BUILD/
**/*.app/
**/*_BackUpThisFolder_*/
**/*_BurstDebugInformation_*/
**/MemoryCaptures/
